.login_heading {
    font-family: Poppins;
    font-weight: 500;
    font-size: 36px;
    line-height: 24px;
    gap: 10px;
    padding: 10px;
}

.email_label {
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;

}